<h1> Welcome to your Dashboard <%= current_user.username%>  </h1> 
Post New Shout

<%= form_for(@shout) do |form| %>
 <%= form.text_field :body %>
  <%= form.submit "SHOUT" %>
<% end %>

<%= render @shouts %>
