<!DOCTYPE html>
<html>
<head>
  <title>Shoutr</title>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="top-bar">
	  <% if signed_in? %>
      Welcome <%= current_user.username %>
      <%= link_to "Sign out", session_path, method: :delete %>
        <div class="input-box">
          <%= form_for(@shout) do |form| %>
            <%= form.text_field :body %>
            <%= form.submit "SHOUT" %>
          <% end %>
        </div>
    <% else %>
      <%= link_to "Sign up", new_user_path %>
      <%= link_to "Sign in", new_session_path %>
    <% end %>
  </header>

<div id="main-content">

<%= yield %>

</div>

</body>
</html>
